html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  color: #323232;
  background-color: #bebebe;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

header {
  display: grid;
  grid-template-columns: auto 10rem auto;
  grid-template-rows: auto 1.5rem;
  grid-template-areas:
  "left center right"
  ". center .";
  margin-bottom: 1.5rem;
}

header > h1 {
  grid-area: center;
  z-index: 0;
  margin: 0;
}

nav {
  background-color: #bd027b;
  grid-column: 1 / -1;
  grid-row: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.125rem;
  background-color: #bd027b;
  border: 2px solid #960062;
  border-radius: 6px;
  padding: .5em .8em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #eccee2;
}

nav a:hover {
  background-color: #960062;
}

main {
  padding: 0 1rem;
}

main p {
  margin: 0 0 1.5rem;
  font-size: 1.125rem;
}

h2 {
  margin: 0 0 1.5rem;
  font-family: "PT Sans Narrow", sans-serif;
}
